.navbar-default{
    background-color: lightseagreen !important;
}
.navbar-default .navbar-nav>li>a {
    color:white ;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: white !important;
    color:lightseagreen;
    font-weight: bold;
}
.navbar-default .navbar-brand {
    color:orange;
    text-shadow: 1px 1px 4px white;
}