<div *ngIf="selected" class="article">
    <div class="panel">
      <div class="panel-head">
        <h2>{{selected.titulo}}</h2>
      </div>
      <div class="panel-body">
        <p>
          {{selected.descripcion}}
        </p>
      </div>
      <div class="panel-footer">
        <ul style="list-style-type: none;">
          <li *ngFor="let comentario of selected.comentarios" >
            <div>
              <h4>
                Escrito por: {{comentario.autor}}
              </h4>
              <p>
                {{comentario.contenido}}                
              </p>
              <strong>
                Publicado el {{comentario.fecha}}
              </strong>
                            
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
